# https://bugs.launchpad.net/netplan/+bug/1774203/comments/1
[Unit]
Description=Create dummy interface dummy0

[Install]
WantedBy=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip li add dummy0 type dummy
